.card {
  background-color: var(--white);
  border: 8px solid var(--black);
  box-shadow: 10px 10px 0 var(--black);
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.card_role {
  color: var(--black);
  border-bottom: 3px solid var(--black);
  font-size: 1.5rem;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
  width: fit-content;
}

.card_organization {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
}

.card_description {
  color: var(--black);
  font-size: .85rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.banner {
  background-color: var(--white);
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: default;
}

.banner_period {
  color: var(--black);
  border: 4px solid var(--black);
  box-shadow: 6px 6px 0 var(--black);
  font-size: .85rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: .5rem;
}

.info_container {
  display: flex;
  align-items: flex-end;
  margin-block: 1rem;
}

.info_icon {
  border: 2px solid var(--black);
  box-shadow: 4px 4px 0 var(--black);
  font-size: .65rem;
  font-weight: 700;
  padding-inline: .4rem;
  cursor: default;
  user-select: none;
}

.info_text {
  font-size: .65rem;
  font-weight: 700;
  margin-left: .5rem;
}

.images_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.image {
  border: 4px solid var(--black);
  box-shadow: 6px 6px 0 var(--black);
  filter: grayscale(1);
  cursor: pointer;

  &:hover {
    filter: grayscale(0);
  }
}

@media (max-width: 992px) {
  .card {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }

  .banner {
    position: static;
  }

  .banner_period {
    font-size: .65rem;
    display: block;
    margin-bottom: 1.5rem;
  }

  .images_container {
    flex-direction: column;
  }

  .image {
    width: 100%;
    height: auto;
  }
}