@use 'mixins';

$astrobit-color: #35f29a53;
$astrobit-two-color: #8979F2;
$cloud-master-color: #071A52;
$farmino-color: #37582B;
$fatec-color: #B01116;
$for-store-color: #F4F1EA;
$for-store-two-color: #273C75;
$petit-glace-color: #EA516D;
$rick-and-morty-color: #8BCF21;
$soffit-color: #F4F5F7;
$soffit-two-color: #B81C1D;
$void-color: #7A58D4;
$vruum-color: #111A39;

.card-project {
  background-color: var(--white-df);
  border-radius: 5px;
  display: flex;
  margin: 1rem 15px;
  min-height: 350px;
  width: 550px;

  &__logo {
    @include mixins.flex-center;
    border-radius: 5px 0 0 5px;
    width: 40%;
  }

  &__logo--astrobit-background {
    background-color: $astrobit-color;
  }

  &__logo--4store-background {
    background-color: $for-store-color;
  }

  &__logo--farmino-background {
    background-color: $farmino-color;
  }

  &__logo--void-background {
    background-color: $void-color;
  }

  &__logo--fatec-background {
    background-color: $fatec-color;
  }

  &__logo--soffit-background {
    background-color: $soffit-color;
  }

  &__logo--rick-and-morty-background {
    background-color: $rick-and-morty-color;
  }

  &__logo--petit-glace-background {
    background-color: $petit-glace-color;
  }

  &__logo--vruum-background {
    background-color: $vruum-color;
  }

  &__logo--cloud-master-background {
    background-color: $cloud-master-color;
  }

  &__description {
    align-self: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 60%;
  }

  &__subtitle {
    font-size: clamp(0.7rem, 3vw + 1rem, 1.25rem);
    font-weight: 600;
  }

  &__subtitle--astrobit-color {
    color: $astrobit-two-color;
  }

  &__subtitle--4store-color {
    color: $for-store-two-color;
  }

  &__subtitle--farmino-color {
    color: $farmino-color;
  }

  &__subtitle--void-color {
    color: $void-color;
  }

  &__subtitle--fatec-color {
    color: $fatec-color;
  }

  &__subtitle--soffit-color {
    color: $soffit-two-color;
  }

  &__subtitle--rick-and-morty-color {
    color: $rick-and-morty-color;
  }

  &__subtitle--petit-glace-color {
    color: $petit-glace-color;
  }

  &__subtitle--vruum-color {
    color: $vruum-color;
  }

  &__subtitle--cloud-master-color {
    color: $cloud-master-color;
  }

  &__text {
    font-size: clamp(0.3rem, 3vw + 1rem, 1rem);
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  &__4store-link,
  &__farmino-link,
  &__void-link,
  &__fatec-link,
  &__rick-and-morty-link {
    font-weight: 600;
  }

  &__astrobit-link {
    color: $astrobit-two-color;
  }

  &__4store-link {
    color: $for-store-two-color;
  }

  &__farmino-link {
    color: $farmino-color;
  }

  &__void-link {
    color: $void-color;
  }

  &__fatec-link {
    color: $fatec-color;
  }

  &__rick-and-morty-link {
    color: $rick-and-morty-color;
  }

  &__technologies {
    align-items: center;
    display: flex;
    margin-top: 0.5rem;
  }

  &__technologies-image {
    margin-right: 5px;
    transition: 0.3s ease;

    &:hover {
      transform: rotate(-20deg);
      transition: 0.3s ease;
    }
  }

  &__btn-group {
    display: flex;
    margin-top: 1rem;
  }

  .card-button {
    border-radius: 2px;
    color: var(--black-df);
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    height: 35px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    width: 100px;

    &:last-child {
      margin-left: 1rem;
    }

    &:hover>.card-button__face-primary {
      margin-top: -35px;
    }

    &__face-primary,
    &__face-secondary {
      display: block;
      height: 100%;
      line-height: 35px;
      padding: 0 0.25rem;
      transition: margin 0.4s;
    }

    &__face-primary {
      @include mixins.flex-center;
    }

    &__face-secondary {
      background-color: var(--white-df);
    }

    &--btn-access {
      background-color: var(--black-df);
      outline: 3px solid var(--black-df);
    }

    &--btn-git-astrobit {
      background-color: $astrobit-two-color;
      outline: 3px solid $astrobit-two-color;
    }

    &--btn-git-4store {
      background-color: $for-store-two-color;
      outline: 3px solid $for-store-two-color;
    }

    &--btn-git-farmino {
      background-color: $farmino-color;
      outline: 3px solid $farmino-color;
    }

    &--btn-git-void {
      background-color: $void-color;
      outline: 3px solid $void-color;
    }

    &--btn-git-fatec {
      background-color: $fatec-color;
      outline: 3px solid $fatec-color;
    }

    &--btn-git-soffit {
      background-color: $soffit-two-color;
      outline: 3px solid $soffit-two-color;
    }

    &--btn-git-rick-and-morty {
      background-color: $rick-and-morty-color;
      outline: 3px solid $rick-and-morty-color;
    }

    &--btn-git-petit-glace {
      background-color: $petit-glace-color;
      outline: 3px solid $petit-glace-color;
    }

    &--btn-git-vruum {
      background-color: $vruum-color;
      outline: 3px solid $vruum-color;
    }

    &--btn-git-cloud-master {
      background-color: $cloud-master-color;
      outline: 3px solid $cloud-master-color;
    }
  }

  @media (max-width: 850px) {
    flex-direction: column;

    &__logo {
      border-radius: 5px 5px 0 0;
      padding: 2rem;
      width: 100%;
    }

    &__description {
      padding-inline: 1rem;
      width: 100%;
    }

    &__subtitle,
    &__text {
      text-align: center;
    }

    &__technologies,
    &__btn-group {
      justify-content: center;
    }
  }
}