// To run => sass --watch assets/scss/card-project.scss:assets/css/card-project.css

@use 'mixins';

$void-color: #7A58D4;
$soffit-color: #F4F5F7;
$soffit-two-color: #B81C1D;
$fatec-color: #B01116;
$petit-glace-color: #EA516D;
$vruum-color: #111A39;
$chapa-quente-color: #854C17;
$cloud-master-color: #071A52;
$rick-and-morty-color: #8BCF21;

.card-project {
    background-color: var(--white-color);
    border-radius: 5px;
    display: flex;
    margin: 1rem 10px;
    width: 550px;

    &__logo {
        @include mixins.flex-center;
        border-radius: 5px 0 0 5px;
        width: 40%;
    }

    &__logo--void-background { background-color: $void-color; }
    &__logo--soffit-background { background-color: $soffit-color; }
    &__logo--fatec-background { background-color: $fatec-color; }
    &__logo--petit-glace-background { background-color: $petit-glace-color; }
    &__logo--vruum-background { background-color: $vruum-color; }
    &__logo--chapa-quente-background { background-color: $chapa-quente-color; }
    &__logo--cloud-master-background { background-color: $cloud-master-color; }
    &__logo--rick-and-morty-background { background-color: $rick-and-morty-color; }

    &__description {
        align-self: center;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 60%;
    }

    &__subtitle {
        font-size: clamp(0.7rem, 3vw + 1rem, 1.25rem);
        font-weight: 600;
    }

    &__subtitle--void-color { color: $void-color; }
    &__subtitle--soffit-color { color: $soffit-two-color; }
    &__subtitle--fatec-color { color: $fatec-color; }
    &__subtitle--petit-glace-color { color: $petit-glace-color; }
    &__subtitle--vruum-color { color: $vruum-color; }
    &__subtitle--chapa-quente-color { color: $chapa-quente-color; }
    &__subtitle--cloud-master-color { color: $cloud-master-color; }
    &__subtitle--rick-and-morty-color { color: $rick-and-morty-color; }

    &__text {
        font-size: clamp(0.3rem, 3vw + 1rem, 1rem);
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    &__technologies {
        align-items: center;
        display: flex;
        margin-top: 0.5rem;

        img {
            margin-right: 5px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__btn-group {
        display: flex;
        margin-top: 1rem;
    }

    &__btn {
        @include mixins.flex-center;
        align-items: flex-start;
        border-radius: 20px;
        color: var(--white-color);
        flex-wrap: wrap;
        font-size: 0;
        padding: 0.25rem;
        width: 100px;
    }

    &__btn--access { 
        background-color: var(--black-color); 
        border: 1px solid var(--black-color);
        margin-left: 0.5rem;
    }

    &__btn--void-github { 
        background-color: $void-color; 
        border: 1px solid $void-color;
    }
    &__btn--soffit-github {
        background-color: $soffit-two-color;
        border: 1px solid $soffit-two-color;
    }
    &__btn--fatec-github {
        background-color: $fatec-color;
        border: 1px solid $fatec-color;
    }
    &__btn--petit-glace-github {
        background-color: $petit-glace-color;
        border: 1px solid $petit-glace-color;
    }
    &__btn--vruum-github {
        background-color: $vruum-color;
        border: 1px solid $vruum-color;
    }
    &__btn--chapa-quente-github {
        background-color: $chapa-quente-color;
        border: 1px solid $chapa-quente-color;
    }
    &__btn--cloud-master-github {
        background-color: $cloud-master-color;
        border: 1px solid $cloud-master-color;
    }
    &__btn--rick-and-morty-github {
        background-color: $rick-and-morty-color;
        border: 1px solid $rick-and-morty-color;
    }

    @media (max-width: 850px) {
        flex-direction: column;

        &__logo {
            border-radius: 5px 5px 0 0;
            padding: 2rem;
            width: 100%;
        }

        &__description {
            padding-inline: 1rem;
            width: 100%;
        }

        &__subtitle,
        &__text {
            text-align: center;
        }

        &__technologies,
        &__btn-group {
            justify-content: center;
        }
    }
}