// To run => sass --watch assets/scss/footer.scss:assets/css/footer.css

@use 'variables';
@use 'mixins';

.footer {
    background-color: var(--primary-lm);
    overflow: hidden;
    padding-bottom: 1rem;

    &__container {
        @include mixins.container;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__subtitle {
        color: variables.$white-df;
        margin-left: 1rem;
    }

    .form {
        &__input,
        &__textarea {
            background-color: transparent;
            border-bottom: 2px solid variables.$white-df;
            border-left: none;
            border-right: none;
            border-top: none;
            caret-color: variables.$white-df;
            color: variables.$white-df;
            display: block;
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            margin-block: 1rem;
            outline: none;
            padding: 0.5rem 1rem;
            width: 100%;

            &::placeholder {
                color: variables.$white-df;
            }
        }

        &__btn-send {
            background-color: variables.$white-df;
            border-radius: 3px;
            border: none;
            color: var(--primary-lm);
            cursor: pointer;
            display: block;
            font-family: 'Poppins', sans-serif;
            font-size: 0.95rem;
            font-weight: 600;
            outline: none;
            padding-block: 0.5rem;
            transition: 0.5s ease;
            width: 115px;

            &:hover {
                background-color: var(--primary-lm);
                color: variables.$white-df;
                outline: 2px solid variables.$white-df;
                transition: 0.2s ease;
            }
        }

        &__error-message {
            color: var(--black-lm);
            font-weight: 700;
            margin-left: 1rem;
        }
    }

    &__contacts {
        background-color: variables.$white-df;
        border-radius: 5px;
        margin-top: 2rem;
        max-width: 340px;
        width: 100%;
    }

    &__contacts-container {
        margin: 0 auto;
        width: -moz-fit-content;
        width: fit-content;
    }

    &__contacts-block {
        align-items: center;
        display: flex;
        margin-block: 1.2rem;
    }

    &__contacts-link {
        color: variables.$black-df;
        font-weight: 500;
        margin-left: 1rem;

        &::after {
            background-color: var(--primary-lm);
            content: "";
            display: block;
            height: 2px;
            margin-top: 5px;
            transition: 0.3s ease;
            width: 0%;
        }

        &:hover::after {
            transition: 0.3s ease;
            width: 40%;
        }

        // &:hover a {
        //     color: #F45;
        // }
    }
}