// To run => sass --watch assets/scss/global-config.scss:assets/css/global-config.css

@use 'mixins';

:root {
    --black-color: #222; // or #212529
    --gray-light-color: #C0BEBE;
    --gray-medium-color: #8C8C8C;
    --primary-color: #FF3E00;
    --secondary-color: #FF9572;
    --white-color: #FFF;
}

.dark-mode:root {
    --white-color: var(--black-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(
        65deg,
        var(--white-color) 60%,
        var(--primary-color)
    );
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

h2 {
    @include mixins.h2-style;
}

h1,
h2,
h3,
span,
p,
a {
    user-select: none;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

abbr {
    border-bottom: 1px solid var(--secondary-color);
    cursor: help;
    text-decoration: none;
}

@media (max-width: 850px) {
    body {
        background: linear-gradient(
            65deg,
            var(--white-color) 92%,
            var(--primary-color)
        );
    }
}