// To run => sass --watch assets/scss/global-config.scss:assets/css/global-config.css

:root {
    --primary-color: #FF3E00;
    --secondary-color: #FF9572;
    --black-color: #222; // or #212529
    --gray-medium-color: #8C8C8C;
    --gray-light-color: #C0BEBE;
    --white-color: #FFF; 
}

.dark-mode:root {
    --white-color: var(--black-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        65deg,
        var(--white-color) 65%,
        var(--primary-color) 35%  
    );
    font-family: 'Poppins', sans-serif;
    height: 100%;

}

a {
    text-decoration: none;
    user-select: none;
}

ul,
ol {
    list-style: none;
}

abbr {
    border-bottom: 1px solid var(--secondary-color);
    cursor: help;
    text-decoration: none;
}

@media (max-width: 850px) {
    body {
        background: linear-gradient(
            65deg,
            var(--white-color) 65%,
            var(--primary-color)
        );
    }
}