// To run => sass --watch assets/scss/header.scss:assets/css/header.css

@use 'variables';
@use 'mixins';

.header {
    @include mixins.container;

    .header__container {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .header__menu {
        @include mixins.flex-center;
        background-color: variables.$white-df;
        border-radius: 5px;
        border: 1px solid variables.$black-df;
        cursor: pointer;
        display: none;
        font-size: 0;
        padding: 0.45rem;
    }

    .nav ul {
        display: flex;
    }

    .nav__title {
        display: none;
    }

    .nav__item {
        cursor: pointer;
        margin-inline: 0.7rem;
        width: -moz-fit-content;
        width: fit-content;

        &::after {
            background-color: variables.$white-df;
            content: "";
            display: block;
            height: 2px;
            transition: 0.5s ease;
            width: 0%;
        }

        &:hover::after {
            transition: 0.5s ease;
            width: 60%;
        }
    }

    .nav__link {
        color: variables.$white-df;
        font-size: clamp(1rem, 3vw - 1rem, 1.15rem);
    }
}

// Responsive MENU
@media (max-width: 850px) {
    .header {
        .header__menu {
            display: block;
        }

        nav.nav-active {
            transform: translateX(calc(-100% + 100%));
            transition: 1s cubic-bezier(.36,.04,.48,1);
            visibility: visible;
        }

        .nav {
            background-color: variables.$black-df;
            height: 100vh;
            left: 0;
            padding: 1rem 1rem 1rem 0.5rem;
            position: absolute;
            top: 0;
            transform: translateX(-100%);
            transition: 1s cubic-bezier(.36,.04,.48,1);
            visibility: hidden;
            width: 60%;
            z-index: 2;

            ul {
                flex-direction: column;
            }

            .nav__title {
                border-bottom: 1px solid var(--secondary-lm);
                color: var(--secondary-lm);
                display: inline-block;
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                margin-inline: 0.5rem;
                user-select: none;
            }

            .nav__item {
                margin-block: 0.5rem;
            }
        }
    }
}