// To run => sass --watch assets/scss/header.scss:assets/css/header.css

@use 'mixins';

.header {
    @include mixins.container;

    .header__container {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .nav ul {
        display: flex;
    }

    .nav__item {
        cursor: pointer;
        margin-inline: 0.7rem;
        width: -moz-fit-content;
        width: fit-content;

        &::after {
            background-color: var(--white-color);
            content: "";
            display: block;
            height: 2px;
            transition: 0.5s ease;
            width: 0%;
        }

        &:hover::after {
            transition: 0.5s ease;
            width: 60%;
        }
    }

    .nav__link {
        color: var(--white-color);
        font-size: clamp(0.75rem, 3vw + 1rem, 1.15rem);
    }
}

// Responsive MENU
@media (max-width: 850px) {
    .nav {
        background-color: var(--black-color);
        display: none;
        height: 100vh;
        left: 0;
        padding: 1rem 1rem 1rem 0.5rem;
        position: absolute;
        top: 0;
        width: 50%;
        z-index: 2;

        ul {
            flex-direction: column;
        }

        .nav__item {
            margin-block: 0.5rem;
        }
    }
}