@use 'mixins';

.header {
  @include mixins.container;

  .header__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .header__menu {
    @include mixins.flex-center;
    background-color: var(--white-df);
    border-radius: 5px;
    border: 1px solid var(--black-df);
    cursor: pointer;
    display: none;
    font-size: 0;
    padding: 0.45rem;
  }

  .nav ul {
    display: flex;
  }

  .nav__title {
    display: none;
  }

  .nav__item {
    cursor: pointer;
    margin-inline: 0.7rem;
    width: -moz-fit-content;
    width: fit-content;

    &::after {
      background-color: var(--white-df);
      content: "";
      display: block;
      height: 2px;
      transition: 0.5s ease;
      width: 0%;
    }

    &:hover::after {
      transition: 0.5s ease;
      width: 60%;
    }

    &:last-child::after {
      display: none;
    }
  }

  .nav__link {
    color: var(--white-df);
    font-size: clamp(1rem, 3vw - 1rem, 1.15rem);
  }

  .logo {
    width: 50px;

    &__path {
      fill: var(--primary-lm);
    }
  }

  .switcher {
    background-color: var(--white-lm);
    border-radius: 20px;
    border: 2px solid var(--white-df);
    display: flex;
    height: 30;
    padding: 0.3rem;
    width: 70px;

    &__dot {
      background-color: var(--primary-lm);
      background-image: url("../../static/icons/flags/brazil.svg");
      border-radius: 50%;
      height: 20px;
      width: 20px;
    }
  }

  .switcher-end {
    justify-content: flex-end;

    .switcher__dot {
      background-image: url("../../static/icons/flags/united-states.svg");
    }
  }
}

// Responsive MENU
@media (max-width: 850px) {
  .header {
    .header__menu {
      display: block;
    }

    nav.nav-active {
      transform: translateX(calc(-100% + 100%));
      transition: 1s cubic-bezier(.36, .04, .48, 1);
      visibility: visible;
    }

    .nav {
      background-color: var(--black-df);
      box-shadow: -1px -1px 0 5px var(--white-df);
      border-bottom-right-radius: 200px;
      height: 100vh;
      left: 0;
      padding: 1rem 1rem 1rem 0.5rem;
      position: fixed;
      top: 0;
      transform: translateX(-100%);
      transition: 1s cubic-bezier(.36, .04, .48, 1);
      visibility: hidden;
      width: 60%;
      z-index: 3;

      ul {
        flex-direction: column;
      }

      .nav__title {
        border-bottom: 1px solid var(--secondary-lm);
        color: var(--secondary-lm);
        display: inline-block;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        margin-inline: 0.5rem;
        user-select: none;
      }

      .nav__item {
        margin-block: 0.5rem;
      }
    }
  }
}