// To run => sass --watch assets/scss/main.scss:assets/css/main.css

@use 'mixins';

.section-initial {
    @include mixins.container;
    @include mixins.flex-center;
    flex-wrap: wrap;
    justify-content: space-around;

    &__title {
        color: var(--primary-color);
        font-size: clamp(1rem, 3vw + 1rem, 3.25rem);
        font-weight: 800;
        line-height: 1;
        margin-bottom: 0.5rem;
    }

    &__text {
        color: var(--black-color);
        font-size: clamp(0.5rem, 3vw + 1rem, 1.5rem);
        font-weight: 400;
    }

    .btn-group {
        display: flex;
        margin-top: 1rem;

        &__contact,
        &__resume {
            @include mixins.flex-center;
            border-radius: 30px;
            cursor: pointer;
            font-weight: 600;
            padding: 0.65rem 0.5rem;
            user-select: none;
            width: 120px;
        }

        &__contact {
            background-color: var(--primary-color);
            color: var(--white-color);
            margin-right: 1rem;
        }

        &__resume {
            background-color: var(--white-color);
            border: 2px solid var(--primary-color);
            color: var(--primary-color);
        }
    }

    &__illustration {
        margin-top: 2rem;
        max-width: 450px;

        img {
            width: 100%;
            // filter: drop-shadow(0 0 20px var(--secondary-color));
        }
    }
}

.section-about {
    background-color: var(--black-color);

    &__container {
        @include mixins.container;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__image {
        max-width: 300px;

        img {
            width: 100%;
        }
    }

    &__text {
        margin-top: 2rem;
        max-width: 500px;
        // user-select: none;   
    }

    &__subtitle {
        color: var(--primary-color);
        font-weight: 600;
    }

    &__subtitle-description {
        color: var(--secondary-color);
        font-weight: 500;
    }

    &__paragraph {
        color: var(--white-color);
        font-weight: 400;
        line-height: 1.75;
        margin-block: 1rem;
        text-align: justify;
    }
}