// To run => sass --watch assets/scss/main.scss:assets/css/main.css

@use 'mixins';

.section-initial {
    @include mixins.container;
    @include mixins.flex-center;
    justify-content: space-around;
    flex-wrap: wrap;

    &__title {
        color: var(--primary-color);
        font-size: clamp(1.25rem, 8rem - 1rem, 2.5rem);
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 0.5rem;
    }

    &__text {
        color: var(--black-color);
        font-size: clamp(1rem, 8rem - 1rem, 1.5rem);
        font-weight: 400;
    }

    .btn-group {
        margin-top: 1rem;
        display: flex;

        &__contact,
        &__resume {
            @include mixins.flex-center;
            border-radius: 30px;
            cursor: pointer;
            font-weight: 600;
            padding: 0.65rem 0.5rem;
            user-select: none;
            width: 120px;
        }

        &__contact {
            background-color: var(--primary-color);
            color: var(--white-color);
            margin-right: 1rem;
        }

        &__resume {
            background-color: var(--white-color);
            border: 2px solid var(--primary-color);
            color: var(--primary-color);
        }
    }

    &__illustration {
        margin-top: 2rem;

        img {
            
        }
    }
}