// To run => sass --watch assets/scss/main.scss:assets/css/main.css

@use 'mixins';

.section-initial {
    @include mixins.container;
    @include mixins.flex-center;
    flex-wrap: wrap;
    justify-content: space-around;

    &__title {
        color: var(--primary-lm);
        font-size: clamp(2rem, 5vw - 1rem, 4.5rem);
        font-weight: 800;
        line-height: 1.1;
        margin-bottom: 0.5rem;
    }

    &__text {
        color: var(--black-lm);
        font-size: clamp(1.5rem, 4vw - 1rem, 2rem);
        font-weight: 600;
    }

    &__description {
        color: var(--black-lm);
        font-size: clamp(1.15rem, 3vw - 1rem, 1.3rem);
        font-weight: 400;
    }

    .btn-group {
        display: flex;
        margin-top: 1rem;

        &__contact,
        &__resume {
            @include mixins.flex-center;
            border-radius: 30px;
            cursor: pointer;
            font-weight: 600;
            padding: 0.65rem 0.5rem;
            width: 120px;
        }

        &__contact {
            background-color: var(--primary-lm);
            color: var(--white-df);
            margin-right: 1rem;
        }

        &__resume {
            background-color: var(--white-df);
            border: 2px solid var(--primary-lm);
            color: var(--primary-lm);
        }
    }

    &__image {
        filter: drop-shadow(0 0 5px var(--white-df));
        margin-top: 2rem;
        max-width: 450px;

        img {
            width: 100%;
        }
    }
}

.section-about {
    background-color: var(--black-df);

    &__container {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 1300px;
        padding: 2.5rem 1rem;
    }

    &__image {
        max-width: 300px;

        img {
            width: 100%;
        }
    }

    &__text {
        max-width: 500px;
    }

    &__subtitle-description {
        color: var(--secondary-lm);
        font-weight: 500;
    }

    &__paragraph {
        color: var(--white-df);
        font-size: clamp(0.9rem, 3vw - 1rem, 1rem);
        font-weight: 400;
        line-height: 1.75;
        margin-block: 1rem;
    }

    @media (max-width: 863px) {
        &__image {
            order: 1
        }

        &__text {
            order: 0;
        }
    }
}

.section-services,
.section-projects,
.section-knowledges {
    background-color: var(--gray-light-lm);
    overflow: hidden;

    &__container {
        @include mixins.container;
        @include mixins.flex-center;
        flex-wrap: wrap;
    }

    &__subtitle {
        padding-top: 2rem;
        text-align: center;
    }

    &__subtitle-description {
        @include mixins.flex-center;
        color: var(--black-lm);
        font-weight: 500;
    }
}

.section-projects {
    background-color: var(--black-df);

    &__subtitle-description {
        color: var(--secondary-lm);
    }
}

.svg {
    &__rect {
        fill: var(--gray-light-lm);
    }

    &__path {
        fill: var(--primary-lm);
    }
}

.section-contact-me {
    background-color: var(--gray-light-lm);
    padding: 2rem 1rem 6rem;
    width: 100%;
    
    &__container {
        background-color: var(--black-df);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 600px;
        padding: 1.5rem;
        text-align: center;
    }

    &__subtitle {
        color: var(--secondary-lm);
    }

    &__text {
        color: var(--white-df);
        margin: 1rem auto 0 auto;
        max-width: 390px;
    }

    &__btn {
        background-color: var(--white-df);
        border-radius: 5px;
        color: var(--primary-lm);
        font-weight: 600;
        margin: 1rem auto 0 auto;
        padding: 0.5rem 1rem;
        width: -moz-fit-content;
        width: fit-content;
    }
}

.btn-up {
    @include mixins.flex-center;
    background-color: var(--secondary-lm);
    border-radius: 5px;
    bottom: 1%;
    cursor: pointer;
    height: 60px;
    margin: 0;
    opacity: 75%;
    position: fixed;
    right: 1%;
    transition: 0.3s ease-in-out;
    width: 60px;

    &:hover {
        opacity: 100%;
        transition: 0.3s ease-in-out;
    }
}