.section {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-block: 40px;
  max-width: var(--max-width-container);
  width: 100%;

  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
  }
}

.profile_image {
  border: 4px solid var(--black);
  box-shadow: 6px 6px 0 var(--black);
}