<section>
  <figure>
    <div>
      <app-user-profile-picture [profilePictureData]='profilePictureData'/>
      <h1>
        {{ profilePictureData.userName }}
      </h1>
      <h2>
        Desenvolvedor Front-End
      </h2>
    </div>
  </figure>
  <article id='about'>
    <p>
      Se despertou pela tecnologia quando estava indo para o 3° ano do Ensino Médio, até então, duvidoso sobre qual carreira profissional seguir. Logo, decidiu iniciar um curso técnico, onde teve o seu primeiro contato com desenvolvimento de sistemas e se fissurou pela área.
    </p>
    <p>
      Em sua carreira como desenvolvedor tem como combustível construir soluções modernas e agradáveis ao usuário, tendo como base conceitos de Acessibilidade <strong>(a11y)</strong>, Otimização para Buscas <strong>(SEO)</strong>, Interação <strong>(UI)</strong> e Experiência <strong>(UX)</strong> do Usuário.
    </p>
    <p>
      Além disso, reconhece o imenso potencial da tecnologia como uma poderosa ferramenta para gerar e impulsionar impacto social e promover uma transformação positiva na sociedade.
    </p>
  </article>
</section>
