.footer {
  background-color: var(--primary-lm);
  overflow: hidden;
  padding-bottom: 1rem;
}
.footer__container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 2rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer__subtitle {
  color: var(--gray-light-lm);
  margin-left: 1rem;
}
.footer .form__input, .footer .form__textarea {
  background-color: transparent;
  border-bottom: 2px solid var(--gray-light-lm);
  border-left: none;
  border-right: none;
  border-top: none;
  caret-color: var(--gray-light-lm);
  color: var(--gray-light-lm);
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin-block: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
  width: 100%;
}
.footer .form__input::placeholder, .footer .form__textarea::placeholder {
  color: var(--gray-light-lm);
  font-weight: 500;
}
.footer .form__btn-send {
  background-color: var(--gray-light-lm);
  border-radius: 3px;
  border: none;
  color: var(--primary-lm);
  cursor: pointer;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  font-weight: 600;
  outline: none;
  padding-block: 0.5rem;
  transition: 0.5s ease;
  width: 115px;
}
.footer .form__btn-send:hover {
  background-color: var(--primary-lm);
  color: var(--gray-light-lm);
  outline: 2px solid var(--gray-light-lm);
  transition: 0.2s ease;
}
.footer .form .error-message {
  background-color: var(--white-lm);
  border-radius: 5px;
  color: var(--black-lm);
  display: none;
  font-weight: 500;
  margin: 0 0 0.5rem 1rem;
  padding: 0.7rem;
  width: -moz-fit-content;
  width: fit-content;
}
.footer .form .error-message__figure {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #F22;
  border-radius: 50%;
  color: var(--white-df);
  font-family: cursive, sans-serif;
  font-weight: 700;
  height: 25px;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.65rem;
  width: 25px;
}
.footer__contacts {
  background-color: var(--gray-light-lm);
  border-radius: 5px;
  margin-top: 2rem;
  max-width: 340px;
  width: 100%;
}
.footer__contacts-container {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__contacts-block {
  align-items: center;
  display: flex;
  margin-block: 1.2rem;
}
.footer__contacts-link {
  color: var(--black-lm);
  font-weight: 500;
  margin-left: 1rem;
}
.footer__contacts-link::after {
  background-color: var(--primary-lm);
  content: "";
  display: block;
  height: 2px;
  margin-top: 5px;
  transition: 0.3s ease;
  width: 0%;
}
.footer__contacts-link:hover::after {
  transition: 0.3s ease;
  width: 40%;
}
.footer .instagram,
.footer .linkedin,
.footer .github,
.footer .gitlab {
  height: 50px;
  width: 50px;
}
.footer .instagram__circle,
.footer .linkedin__circle,
.footer .github__circle,
.footer .gitlab__circle {
  fill: var(--secondary-lm);
  opacity: 0.5;
}
.footer .instagram__path,
.footer .linkedin__path,
.footer .github__path,
.footer .gitlab__path {
  fill: var(--black-lm);
}

/*# sourceMappingURL=footer.css.map */
