.section-initial {
  margin: 0 auto;
  max-width: 1300px;
  padding: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 90vh;
  justify-content: space-around;
}
.section-initial__title {
  color: var(--primary-lm);
  font-size: clamp(2rem, 5vw - 1rem, 4.5rem);
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.section-initial__text {
  color: var(--black-lm);
  font-size: clamp(1.5rem, 4vw - 1rem, 2rem);
  font-weight: 600;
}
.section-initial__description {
  color: var(--black-lm);
  font-size: clamp(1.15rem, 3vw - 1rem, 1.3rem);
  font-weight: 400;
}
.section-initial .btn-group {
  display: flex;
  margin-top: 1rem;
}
.section-initial .btn-group__contact, .section-initial .btn-group__resume {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  padding: 0.65rem 0.5rem;
  width: 120px;
}
.section-initial .btn-group__contact {
  background-color: var(--primary-lm);
  color: var(--white-df);
  margin-right: 1rem;
}
.section-initial .btn-group__resume {
  background-color: var(--white-df);
  border: 2px solid var(--primary-lm);
  color: var(--primary-lm);
}
.section-initial__image {
  filter: drop-shadow(0 0 5px var(--white-df));
  margin-top: 2rem;
  max-width: 450px;
}
.section-initial__image img {
  width: 100%;
}

.section-about {
  background-color: var(--black-df);
}
.section-about__container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1300px;
  padding: 2.5rem 1rem;
}
.section-about__image {
  max-width: 300px;
}
.section-about__image img {
  width: 100%;
}
.section-about__text {
  max-width: 500px;
}
.section-about__subtitle-description {
  color: var(--secondary-lm);
  font-weight: 500;
}
.section-about__paragraph {
  color: var(--white-df);
  font-size: clamp(0.9rem, 3vw - 1rem, 1rem);
  font-weight: 400;
  line-height: 1.75;
  margin-block: 1rem;
}
@media (max-width: 863px) {
  .section-about__image {
    order: 1;
  }
  .section-about__text {
    order: 0;
  }
}

.section-services,
.section-projects,
.section-knowledges {
  background-color: var(--gray-light-lm);
  overflow: hidden;
}
.section-services__container,
.section-projects__container,
.section-knowledges__container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section-services__subtitle,
.section-projects__subtitle,
.section-knowledges__subtitle {
  padding-top: 2rem;
  text-align: center;
}
.section-services__subtitle-description,
.section-projects__subtitle-description,
.section-knowledges__subtitle-description {
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--black-lm);
  font-weight: 500;
}

.section-projects {
  background-color: var(--black-df);
}
.section-projects__subtitle-description {
  color: var(--secondary-lm);
}

.svg__rect {
  fill: var(--gray-light-lm);
}
.svg__path {
  fill: var(--primary-lm);
}

.section-contact-me {
  background-color: var(--gray-light-lm);
  padding: 2rem 1rem 6rem;
  width: 100%;
}
.section-contact-me__container {
  background-color: var(--black-df);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  padding: 1.5rem;
  text-align: center;
}
.section-contact-me__subtitle {
  color: var(--secondary-lm);
}
.section-contact-me__text {
  color: var(--white-df);
  margin: 1rem auto 0 auto;
  max-width: 390px;
}
.section-contact-me__btn {
  background-color: var(--white-df);
  border-radius: 5px;
  color: var(--primary-lm);
  font-weight: 600;
  margin: 1rem auto 0 auto;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-up {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-lm);
  border-radius: 5px;
  bottom: 1%;
  cursor: pointer;
  height: 60px;
  margin: 0;
  opacity: 75%;
  position: fixed;
  right: 1%;
  transition: 0.3s ease-in-out;
  width: 60px;
}
.btn-up:hover {
  opacity: 100%;
  transition: 0.3s ease-in-out;
}

@media (min-width: 425px) and (max-width: 768px) {
  .section-initial {
    height: auto;
  }
}

/*# sourceMappingURL=main.css.map */
