.section-initial {
  margin: 0 auto;
  max-width: 1300px;
  padding: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section-initial__title {
  color: var(--primary-color);
  font-size: clamp(2rem, 5vw - 1rem, 4.5rem);
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
.section-initial__text {
  color: var(--black-color);
  font-size: clamp(1.5rem, 4vw - 1rem, 2rem);
  font-weight: 600;
}
.section-initial__description {
  color: var(--black-color);
  font-size: clamp(1.15rem, 3vw - 1rem, 1.3rem);
  font-weight: 400;
}
.section-initial .btn-group {
  display: flex;
  margin-top: 1rem;
}
.section-initial .btn-group__contact, .section-initial .btn-group__resume {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  padding: 0.65rem 0.5rem;
  width: 120px;
}
.section-initial .btn-group__contact {
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-right: 1rem;
}
.section-initial .btn-group__resume {
  background-color: var(--white-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.section-initial__image {
  margin-top: 2rem;
  max-width: 450px;
}
.section-initial__image img {
  width: 100%;
}

.section-about {
  background-color: var(--black-color);
}
.section-about__container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1300px;
  padding: 2.5rem 1rem;
}
.section-about__image {
  max-width: 300px;
}
.section-about__image img {
  width: 100%;
}
.section-about__text {
  max-width: 500px;
}
.section-about__subtitle-description {
  color: var(--secondary-color);
  font-weight: 500;
}
.section-about__paragraph {
  color: var(--white-color);
  font-size: clamp(0.9rem, 3vw - 1rem, 1rem);
  font-weight: 400;
  line-height: 1.75;
  margin-block: 1rem;
}
@media (max-width: 863px) {
  .section-about__image {
    order: 1;
  }
  .section-about__text {
    order: 0;
  }
}

.section-services,
.section-projects,
.section-knowledges {
  background-color: var(--white-color);
}
.section-services__container,
.section-projects__container,
.section-knowledges__container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section-services__subtitle,
.section-projects__subtitle,
.section-knowledges__subtitle {
  padding-top: 2rem;
  text-align: center;
}
.section-services__subtitle-description,
.section-projects__subtitle-description,
.section-knowledges__subtitle-description {
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--black-color);
  font-weight: 500;
}

.section-projects {
  background-color: var(--black-color);
}
.section-projects__subtitle-description {
  color: var(--secondary-color);
}

.section-contact-me {
  background-color: var(--white-color);
  padding: 2rem 1rem 6rem;
  width: 100%;
}
.section-contact-me__container {
  background-color: var(--black-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  padding: 1.5rem;
  text-align: center;
}
.section-contact-me__subtitle {
  color: var(--secondary-color);
}
.section-contact-me__text {
  color: var(--white-color);
  margin: 1rem auto 0 auto;
  max-width: 390px;
}
.section-contact-me__btn {
  background-color: var(--white-color);
  border-radius: 5px;
  color: var(--primary-color);
  font-weight: 600;
  margin: 1rem auto 0 auto;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
}

.anchor-top {
  bottom: 2%;
  cursor: pointer;
  opacity: 30%;
  position: fixed;
  right: 1%;
  transition: 0.5s ease;
  width: 40px;
  z-index: 2;
}
.anchor-top:hover {
  opacity: 100%;
  transition: 0.5s ease;
}
.anchor-top__image {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 0.5px solid var(--black-color);
  height: 40px;
  width: 40px;
}

/*# sourceMappingURL=main.css.map */
