.heading_base {
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: .5rem;
}

.heading_one {
  font-size: clamp(1.5rem, 2vw + 1rem, 2.25rem);
}

.heading_two {
  font-size: clamp(1.25rem, 1.5vw + 1rem, 1.75rem);
}

.heading_three {
  font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
}

@media (max-width: 992px) {
  .heading_base {
    text-align: center;
  }
}